/* Center main navigation */
#main-navbar {
  text-align: center;
  background-color: blue;
  overflow: hidden;

}

#navbar-container{
  float: left;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
  left:50%;
  float: left;
}

#main-navbar ul li {
  display: inline-block;
  position:relative;
  float:left;
  right:50%;
  margin-right: 20px;
}

#main-navbar ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}

#main-navbar ul li a:hover{
  background-color:#000;
}

/* Align right-side navigation */

#sidebar {
  position:fixed;
  right:0%;
  width: 20%;
  background-color:red;
  height:100%;
}

#sidebar ul {
  list-style-type: none;
  text-align:center;
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  margin-bottom: 10px;
}

#sidebar ul li a {
  display:block;
  padding:15px 0;
  text-decoration: none;
  color: #fff;
}
#sidebar ul li a:hover {
  background-color: #000;
}
